<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Update</title>
    <link rel="stylesheet" href="mypage.css" />
  </head>
  <body>
    <div class="mypage__container">
      <div class="mypage__sidebar">
        <h2 style="font-weight: bold">
          OOO<span style="font-size: 16px; font-weight: normal">님</span>
        </h2>
        <h3>온라인경매관리</h3>
        <div>등록한 상품 내역</div>
        <div>응찰내역</div>
        <div>결제/구매내역</div>
        <h3>회원정보관리</h3>
        <div>회원정보수정</div>
      </div>
      <div class="mypage__main">
        <h2 class="mypage__main__title">회원정보수정</h2>
        <div class="mypage__main__content">
          <div><label for="pw">비밀번호</label></div>
          <div><input id="pw" type="text" /></div>
          <div><label for="pwCheck">비밀번호 확인</label></div>
          <div><input id="pwCheck" type="text" /></div>
          <div><label for="name">이름</label></div>
          <div><input id="name" type="text" /></div>
          <div><label for="phone">휴대폰 번호</label></div>
          <div><input id="phone" type="text" /></div>
          <div><label for="email"> 이메일</label></div>
          <div class="mypage__main__email">
            <input id="email" type="text" /><button>인증번호 요청</button>
          </div>
          <div>주소</div>
          <div class="mypage__main__address">
            <input type="text" /><button>주소 검색</button>
          </div>
          <div class="accountUpdate__btnContainer">
            <button class="accountUpdate__btn">수정하기</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
