<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mypage</title>
    <link rel="stylesheet" href="mypage.css" />
  </head>
  <body>
    <div class="mypage__container">
      <div class="mypage__sidebar">
        <h2 style="font-weight: bold">
          OOO<span style="font-size: 16px; font-weight: normal">님</span>
        </h2>
        <h3>온라인경매관리</h3>
        <div>등록한 상품 내역</div>
        <div>응찰내역</div>
        <div>결제/구매내역</div>
        <h3>회원정보관리</h3>
        <div>회원정보수정</div>
      </div>
      <div class="mypage__main">
        <h2 class="mypage__main__title">결제/구매내역</h2>
        <ul class="myform__main__list">
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state">배송중</div>
          </li>
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state--complete">배송완료</div>
          </li>
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state">배송중</div>
          </li>
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state--complete">배송완료</div>
          </li>
        </ul>
        <ul class="myform__main__list">
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state--complete">배송완료</div>
          </li>
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state">배송중</div>
          </li>
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state">배송중</div>
          </li>
          <li>
            <img src="laughter.jpg" alt="" />
            <span>1번 상품</span>
            <div>최영욱</div>
            <div>가격 100,000,000원</div>
            <div>3일 20:23:37</div>
            <div class="myform__main__list__state">배송중</div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
