<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunflower.mapper.HM_Member_mapper">
	<select id="Alluser" resultType="com.sunflower.domain.HM_userVO">
		select * from hm_user
	</select>
</mapper>