<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sunflower.mapper.QaMapper">
	<insert id="register">
		insert into hm_qna (qnaNum, qnaTitle, qnaContent, qnaWriter) values (hm_qna_seq.nextval, #{qnaTitle}, #{qnaContent}, #{qnaWriter} )
	</insert>
	
	<insert id="anRegister">
		insert into hm_comment (comNum, comContent, qnaNum) values (hm_comment_seq.nextval,#{comContent},#{qnaNum})
	</insert>
	<select id = "list" resultType="com.sunflower.domain.QaVO">
		select * from hm_qna
	</select>
	
	<select id="getVo" resultType="com.sunflower.domain.QaVO">
		select * from hm_qna where qnaNum = #{qnaNum}
	</select>
	<select id="getSelect" resultType="com.sunflower.domain.AnVO">
		select * from hm_comment where qnaNum = #{qnaNum}
	</select>
	
	<update id="setUpdate">
		update hm_qna set state = 1 where qnaNum = #{qnaNum}
	</update>
	
	<delete id="deleteQuestion">
		delete from hm_qna where qnaNum = #{qnaNum}
	</delete>
	
</mapper>